.text-center Edit Patient
= form_for [@hospital, @patient] do |f|
  = f.label :name
  = f.text_field :name, placeholder: "Name", class: "object-input"
  %br
  = f.label :phone_number
  = f.text_field :phone_number
  %br
  - @hospitals.each do |hospital|
    = check_box_tag 'patient[hospital_ids][]', hospital.id, @patient.hospitals.include?(hospital), {id: "hospital_id_#{hospital.id}"}
    = label_tag "hospital_id_#{hospital.id}", hospital.name
    %br
  %br 
  = f.submit "Submit", class: "submit"
%hr
= link_to "Cancel", hospital_path(@hospital)